# Distribution file for the Example project.
# http://www.openengine.dk/wiki/Projects/spinOff

# main repository
git / https://github.com/OpenEngineDK/openengine.git
git-dev / git@github.com:OpenEngineDK/openengine.git

# project repository
# (uncomment the following two lines after uploading your project)
git /projects/spinOff https://github.com/OpenEngineDK/projects-spinOff.git
git-dev /projects/spinOff git@github.com:OpenEngineDK/projects-spinOff.git

# dist dependencies
dist /extensions/SpinOff/SpinOff.dist	 https://raw.githubusercontent.com/OpenEngineDK/extensions-SpinOff/master/SpinOff.dist
dist /extensions/Inspection/Inspection.dist       http://www.openengine.dk/code/extensions/Inspection/Inspection.dist
dist /extensions/InspectionBar/InspectionBar.dist       http://www.openengine.dk/code/extensions/InspectionBar/InspectionBar.dist
dist /extensions/Plotting/Plotting.dist       http://www.openengine.dk/code/extensions/Plotting/Plotting.dist

# required extensions
git /extensions/TexUtils           https://github.com/OpenEngineDK/extensions-TexUtils.git
git /extensions/CUDA           https://github.com/OpenEngineDK/extensions-CUDA.git
git /extensions/SetupHelpers           https://github.com/OpenEngineDK/extensions-SetupHelpers.git
git /extensions/HUD                    https://github.com/OpenEngineDK/extensions-HUD.git
git /extensions/SDL                    https://github.com/OpenEngineDK/extensions-SDL.git
git /extensions/SDLImage               https://github.com/OpenEngineDK/extensions-SDLImage.git
git /extensions/CairoResource          https://github.com/OpenEngineDK/extensions-CairoResource.git
git /extensions/GenericHandlers 	 https://github.com/OpenEngineDK/extensions-GenericHandlers.git
git /extensions/OpenGLRenderer         https://github.com/OpenEngineDK/extensions-OpenGLRenderer.git
git /extensions/TGAResource            https://github.com/OpenEngineDK/extensions-TGAResource.git
git /extensions/OBJResource            https://github.com/OpenEngineDK/extensions-OBJResource.git
git /extensions/AccelerationStructures https://github.com/OpenEngineDK/extensions-AccelerationStructures.git

git-dev /extensions/TexUtils           git@github.com:OpenEngineDK/extensions-TexUtils.git
git-dev /extensions/SetupHelpers           git@github.com:OpenEngineDK/extensions-SetupHelpers.git
git-dev /extensions/HUD                    git@github.com:OpenEngineDK/extensions-HUD.git
git-dev /extensions/SDL                    git@github.com:OpenEngineDK/extensions-SDL.git
git-dev /extensions/SDLImage               git@github.com:OpenEngineDK/extensions-SDLImage.git
git-dev /extensions/CairoResource          git@github.com:OpenEngineDK/extensions-CairoResource.git
git-dev /extensions/GenericHandlers 	     git@github.com:OpenEngineDK/extensions-GenericHandlers.git
git-dev /extensions/OpenGLRenderer         git@github.com:OpenEngineDK/extensions-OpenGLRenderer.git
git-dev /extensions/TGAResource            git@github.com:OpenEngineDK/extensions-TGAResource.git
git-dev /extensions/OBJResource            git@github.com:OpenEngineDK/extensions-OBJResource.git
git-dev /extensions/AccelerationStructures git@github.com:OpenEngineDK/extensions-AccelerationStructures.git

# windows libraries
win32 /libraries http://openengine.dk/data/libraries/boost-win32.zip
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip
win32 /libraries http://openengine.dk/data/libraries/sdl-win32.zip
win32 /libraries http://openengine.dk/data/libraries/dlls-win32.zip

# darwin libraries
darwin /libraries http://openengine.dk/data/libraries/pcre-osx-i32.zip
darwin /libraries http://openengine.dk/data/libraries/pcrecpp-osx-i32.zip

# linux libraries

# project data

